<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.camdouglas.quark</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/camdouglas/quark/scripts/instant_startup.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/camdouglas/quark/logs/launchd_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/camdouglas/quark/logs/launchd_stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/camdouglas/quark</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>PYTHONPATH</key>
        <string>/Users/camdouglas/quark</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>StartInterval</key>
    <integer>300</integer>
    
    <key>ExitTimeOut</key>
    <integer>30</integer>
</dict>
</plist> 