<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.camdouglas.quark</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/camdouglas/quark/scripts/quark_daemon.sh</string>
        <string>start</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/camdouglas/quark/logs/quark_launchagent.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/camdouglas/quark/logs/quark_launchagent_error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/camdouglas/quark</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/Users/camdouglas/quark</string>
        <key>QUARK_HOME</key>
        <string>/Users/camdouglas/quark</string>
        <key>QUARK_ENV</key>
        <string>launchagent</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>StartInterval</key>
    <integer>300</integer>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
</dict>
</plist> 